body {
	font-family: 'Source Sans Pro', sans-serif;
	color: #262a2b;
	font-size: 16px;
}

#about, #work, #contact {
	height: 600px;
}

/********* GRID› ***********/

.full-width {
	width: 96%;
	max-width: 1200px;
	margin: 0 auto;
}

.half-width {
	width: 100%;
	float: left;
}

.third-width {
	width: 100%;
	float: left;
}

.two-thirds-width {
	width: 100%;
	float: left;
}

/********* HEADER STYLES ***********/

header {
	height: 400px;
	background-image: url('../img/full-background.png');
	background-size: cover;
}

h1 {
	font-size: 20px;
	font-family: 'Lora', serif;
	font-weight: bold;
	color: #bbc085;
	padding: 3px 0 10px 5px;
	text-align: center;
}

/*Nav Bar*/

nav {
	float: right;
	margin: 0 auto;
}


/*Strip ul styling*/

header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/*Create horizontal bar*/

header li {
	display: inline-block;
	padding-left: 10px;
	margin: 0 auto;
}

header li:nth-of-type(1) {
	padding-left: 0;
}

header a {
	text-transform: uppercase;
	font-size: 14px;
	color: #828282;
	text-decoration: none;
}


/*Tagline is h2*/

header h2 {
	width: 85%;
	max-width: 1000px;
	clear: both;
	font-size: 40px;
	font-family: 'Lora', serif;
	color: #9a9b9b;
	line-height: 50px;
	padding: 20px 0;
}

header h2 span {
	color: #262a2b;
}


/********* ABOUT STYLES ***********/

#about .full-width {
	padding: 5% 0;
}

#about h2 {
	font-family: 'Lora', serif;
	font-size: 36px;
	padding: 0 2.5%;
	margin: 0 auto;
}

#about p {
	font-size: 18px;
	color: #7f7f7f;
	line-height: 30px;
	padding: 0 5%;
}





/********* WORK STYLES ***********/

#work {
	background-color: #f9ceb7;
	text-align: center;
}

#work .full-width {
	padding-top: 11%;
}

#work img {
	padding-bottom: 30px;
}

#work h3 {
	font-weight: bold;
	font-size: 24px;
	margin: 0 auto;
}

#work p {
	font-family: 'Lora', serif;
	font-size: 18px;
    line-height: 30px;
    padding: 0 7%;
}

/*Fix spacing for uneven height of work icons*/
#work #second-work-header {
	margin-top: 13px;
}

#work #third-work-header {
	margin-top: 16px;
}



/********* CONTACT / FOOTER STYLES ***********/

#contact {
	background-color: #ebebeb;
}

#contact .full-width{
	padding-top: 115px;
}

#contact-info {
	padding: 5% 0 0 20%;

}

#contact-image {
	border: 16px white solid;
	width: 98%;
	max-width: 521px;

}

#contact h2 {
	font-family: 'Lora', serif;
	font-size: 36px;
	font-weight: bold;
	margin: 0;
}

#email-header {
	font-size: 32px;
	font-weight: normal;
	margin: 0;
}

#contact a {
	font-size: 28px;
	color: #C49075;
	font-weight: bold;
	line-height: 50px;
	text-decoration: none;
}

#contact img {
	margin-right: 10px;
}


#socialmedia-header {
	margin-top: 15%;
	margin-bottom: 25px;
	font-size: 28px;
	font-weight: bold;
}


/*Social Icons
Strip ul styling*/

#contact ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/*Create horizontal bar*/

#contact li {
	display: inline-block;
	margin-right: 8%;
}

#contact li:nth-of-type(5) {
	margin-right: 0;
}



/*/*Tablet Styles*/
/*@media screen and (min-width: 768px) {

}*/

/*Desktop Styles */
@media only screen and (min-width: 940px) {

/********* BASE STYLES ***********/

	#about, #work, #contact {
		height: 600px;
	}

	/********* GRID› ***********/

	.full-width {
		width: 96%;
		max-width: 1200px;
		margin: 0 auto;
	}

	.half-width {
		width: 50%;
		float: left;
	}

	.third-width {
		width: 33.3%;
		float: left;
	}

	.two-thirds-width {
		width: 66.6%;
		float: left;
	}

	/********* HEADER STYLES ***********/

	header {
		height: 800px;
		background-image: url('../img/full-background.png');
		background-size: cover;
	}

	h1 {
		font-size: 30px;
		font-family: 'Lora', serif;
		font-weight: bold;
		color: #bbc085;
		padding: 50px 5px;
		text-align: left;
	}

	/*Nav Bar*/

	nav {
		float: right;
		padding: 75px 40px 0 0;
/*		margin: 0;
*/	}


	/*Strip ul styling*/

	header ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	/*Create horizontal bar*/

	header li {
		display: inline-block;
		padding-left: 80px;
		margin: 0;
	}

	header li:nth-of-type(1) {
		padding-left: 0;
	}

	header a {
		text-transform: uppercase;
		font-size: 18px;
		color: #828282;
		text-decoration: none;
	}


	/*Tagline is h2*/

	header h2 {
		width: 85%;
		max-width: 1000px;
		clear: both;
		font-size: 72px;
		font-family: 'Lora', serif;
		color: #9a9b9b;
		line-height: 80px;
		padding: 20px 0;
	}

	header h2 span {
		color: #262a2b;
	}


	/********* ABOUT STYLES ***********/

	#about .full-width {
		padding: 5% 0;
	}

	#about h2 {
		font-family: 'Lora', serif;
		font-size: 36px;
		padding: 0 2.5%;
	}

	#about p {
		font-size: 21px;
		color: #7f7f7f;
		line-height: 40px;
		padding: 0 5%;
	}

	#about #half-width:nth-of-type(2) p {
		padding-right: 0;
	}



	/********* WORK STYLES ***********/

	#work {
		background-color: #f9ceb7;
		text-align: center;
	}

	#work .full-width {
		padding-top: 11%;
	}

	#work img {
		padding-bottom: 30px;
	}

	#work h3 {
		font-weight: bold;
		font-size: 24px;
		margin: 0 auto;
	}

	#work p {
		font-family: 'Lora', serif;
		font-size: 18px;
	    line-height: 30px;
	    padding: 0 7%;
	}

	/*Fix spacing for uneven height of work icons*/
	#work #second-work-header {
		margin-top: 13px;
	}

	#work #third-work-header {
		margin-top: 16px;
	}



	/********* CONTACT / FOOTER STYLES ***********/

	#contact {
		background-color: #ebebeb;
	}

	#contact .full-width{
		padding-top: 115px;
	}

	#contact-info {
		padding: 5% 0 0 20%;

	}

	#contact-image {
		border: 16px white solid;
		width: 98%;
		max-width: 521px;

	}

	#contact h2 {
		font-family: 'Lora', serif;
		font-size: 36px;
		font-weight: bold;
		margin: 0;
	}

	#email-header {
		font-size: 32px;
		font-weight: normal;
		margin: 0;
	}

	#contact a {
		font-size: 28px;
		color: #C49075;
		font-weight: bold;
		line-height: 50px;
		text-decoration: none;
	}

	#contact img {
		margin-right: 10px;
	}


	#socialmedia-header {
		margin-top: 15%;
		margin-bottom: 25px;
		font-size: 28px;
		font-weight: bold;
	}


	/*Social Icons
	Strip ul styling*/

	#contact ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	/*Create horizontal bar*/

	#contact li {
		display: inline-block;
		margin-right: 8%;
	}

	#contact li:nth-of-type(5) {
		margin-right: 0;
	}

}


